@typeparam TItem
@inject IJSRuntime JsRuntime

<div class="autocomplete">
    <input @bind="SearchText" @oninput="OnInput" @onkeydown="OnKeyDown" @onfocus="OpenDropdown" class="autocomplete-input" @ref="InputElement" />
    @{
        if (IsDropdownOpen && FilteredItems.Count > 0)
        {
            <ul class="autocomplete-list">
                @{
                    if (FilteredItems.Count > 10)
                    {
                        <Virtualize ItemsProvider="LoadItems" Context="item" ItemSize="30">
                            <li @onclick="() => SelectItem(item)" class="autocomplete-item">
                                @(DisplayProperty(item))
                            </li>
                        </Virtualize>
                    }
                    else
                    {
                        foreach (var item in FilteredItems)
                        {
                            <li @onclick="() => SelectItem(item)" class="autocomplete-item">
                                @(DisplayProperty(item))
                            </li>
                        }
                    }
                }
            </ul>
        }
    }
</div>