@typeparam TItem

<div class="select-dropdown">
    <select @onchange="OnSelectionChanged" class="select-input form-control">
        <option value="" selected>-- Select an option --</option>
        @foreach (var item in Items)
        {
            <option value="@DisplayProperty(item)">
                @(DisplayProperty(item))
            </option>
        }
    </select>
</div>