@typeparam TItem

<div class="select-dropdown">
    <InputSelect @bind-Value="SelectedItemAsString" class="select-input form-control">
        <option value="">-- Select an option --</option>
        @foreach (var item in Items)
        {
            <option value="@DisplayProperty(item)">
                @(DisplayProperty(item))
            </option>
        }
    </InputSelect>
</div>
